<div class="container py-5 text-center">
  <!-- Icono principal -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="lc-block">
        <i class="bi bi-bank2 text-custom-success icon-lg"></i> <!-- Icono Bootstrap -->
      </div>
      <!-- Título motivador -->
      <div class="lc-block text-custom-primary mb-3">
        <h1 class="fw-bold">¡Tu apoyo nos ayuda a cambiar vidas!</h1>
      </div>
      <!-- Información de la cuenta -->
      <div class="lc-block text-muted">
        <p class="lead text-custom-secondary">
          Realiza tu donación en nuestra cuenta oficial:<br>
          <strong class="text-custom-primary">Banco de Bogotá</strong><br>
          <span class="text-custom-danger">Cuenta de ahorros: 284-22386-4</span>
        </p>
        <p class="lead text-muted mt-3">
          Después de hacer tu contribución, envíanos un mensaje a nuestro correo electrónico:
          <strong class="text-custom-success">
            funcarmenmantilla&#64;hotmail.com</strong>.<br>
          Indícanos a qué causa (huella) deseas destinar tu aporte para garantizar que llegue al lugar correcto.
        </p>
      </div>
      <!-- Botón de acción -->
<!--      <div class="mt-4">-->
<!--        <a href="#donation-options" class="btn btn-lg bg-custom-success text-custom-light px-5 rounded-pill shadow-sm">-->
<!--          ¡Quiero donar ahora!-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</div>
