/* Títulos secundarios */
.info-block h2 {
  color: var(--primary); /* Azul oscuro */
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

/* Espaciado entre bloques de información */
.info-block {
  margin-bottom: 40px; /* Espaciado entre bloques para un diseño limpio */
}

/* Subrayar elementos importantes */
.info-block p {
  margin-bottom: 20px;
}

.info-block p.fs-5 {
  font-size: 1.25rem;
  color: var(--dark); /* Gris oscuro */
}

.info-block p.lead {
  line-height: 1.7;
}

.info-block p strong {
  color: var(--primary); /* Azul oscuro resalta información */
  font-weight: bold;
}

/* Para subtítulos */
.text-uppercase {
  text-transform: uppercase;
}
