<div class="container-fluid px-4 py-5 my-5 text-center bg-custom-light">
  <!-- Ícono Inspirador -->
  <div class="lc-block d-block mx-auto mb-4">
    <i class="bi bi-heart-fill text-custom-danger icon-lg"></i>
  </div>

  <!-- Título Inspirador -->
  <div class="lc-block">
    <h1 class="display-4 fw-bold text-custom-primary">
      ¡Tu ayuda puede cambiar vidas!
    </h1>
  </div>

  <!-- Mensaje Amigable -->
  <div class="lc-block col-lg-6 mx-auto mb-4">
    <p class="lead text-custom-secondary">
      Únete a nuestra misión de brindar esperanza y apoyo a quienes más lo necesitan. Cada donación cuenta y juntos podemos lograr un impacto positivo en nuestra comunidad. ¡Sé el cambio que quieres ver en el mundo!
    </p>
  </div>

<!--  &lt;!&ndash; Botón de Llamado a la Acción &ndash;&gt;-->
<!--  <div class="lc-block">-->
<!--    <a href="#donate-now" class="btn btn-lg bg-custom-danger text-custom-light px-4 rounded-pill">-->
<!--      ¡Donar Ahora!-->
<!--    </a>-->
<!--  </div>-->
</div>
