<div class="container py-5">
  <!-- Organigrama -->
  <div class="row text-center mb-5">
    <div class="col">
      <h2 class="section-title">Organigrama Fundación Carmen Mantilla</h2>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 text-center">
      <img
        ngSrc="organigrama_csublf.svg"
        alt="Organigrama Fundación Carmen Mantilla"
        class="img-fluid org-chart"
        width="700"
        height="700"
      />
    </div>
  </div>

  <!-- Régimen Tributario -->
  <div class="row text-center mb-4">
    <div class="col">
      <h2 class="section-title">Régimen Tributario Especial</h2>
    </div>
  </div>
  <!-- Nueva fila única para las imágenes -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="d-flex justify-content-between align-items-center tax-images">
        <img
          ngSrc="rut-1_eqhsjs"
          alt="Dian - Régimen Tributario Imagen 1"
          class="tax-img"
          width="800"
          height="800"
        />
        <img
          ngSrc="rut-2_ocg3pu"
          alt="Dian - Régimen Tributario Imagen 2"
          class="tax-img"
          width="800"
          height="800"
        />
        <img
          ngSrc="rut-3_vzkr40"
          alt="Dian - Régimen Tributario Imagen 3"
          class="tax-img"
          width="800"
          height="800"
        />
      </div>
    </div>
  </div>
</div>
