<section class="footer-container">
  <div class="background-footer"></div>

  <div class="container footer-content">
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="footer-title">
          <em>Fundación Carmen Mantilla</em>
        </h5>

        <img
          alt="logo"
          class="footer-logo img-fluid"
          ngSrc="logo-circular_du8znm.png"
          height="200"
          width="200"
          priority
        />

        <p class="footer-description text-white">
          Trabajamos incansablemente para transformar vidas, crear oportunidades
          y construir un futuro más brillante para las comunidades más vulnerables.
        </p>

        <div class="footer-social">
          <a href="https://www.facebook.com/fundacioncarmenmantilla/" target="_blank" class="social-icon">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://twitter.com/funcarmenm" target="_blank" class="social-icon">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC118uHTXtvY_SCSQfVDEPwA" target="_blank" class="social-icon">
            <i class="bi bi-youtube"></i>
          </a>
          <a href="https://www.instagram.com/funcarmenmantilla/" target="_blank" class="social-icon">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.tiktok.com/@fundacarmantilla" target="_blank" class="social-icon">
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="text-white m-0">
        Copyright © Fundación Carmen Mantilla - {{ currentYear }} | El Banco Magdalena - Colombia
      </p>
    </div>
  </div>
</section>
