<section class="footer-container">
  <div class="py-5 container bg-primario position-relative rounded shadow-lg">
    <div class="row">
      <!-- Logo y mensaje principal -->
      <div class="col-md-12 text-center">
        <div class="lc-block text-dark mb-2">
          <div editable="rich">
            <h5 class="text-white font-weight-bold">
              <em>Fundación Carmen Mantilla</em>
            </h5>
          </div>
        </div>
        <div class="lc-block mb-3">
          <img
            alt="logo"
            class="img-fluid"
            ngSrc="logo-circular_du8znm.png"
            height="150"
            width="150"
            priority
          />
        </div>
        <div class="lc-block text-dark mb-2">
          <div editable="rich">
            <h5 class="text-white">
              <em>Una mano amiga</em>
            </h5>
          </div>
        </div>
        <div class="lc-block text-dark text-center">
          <div editable="rich" class="mb-1">
            <p class="text-white m-0">
              Copyright © Fundación Carmen Mantilla - {{ currentYear }}
            </p>
          </div>
          <div editable="rich">
            <p class="text-white m-0">El Banco Magdalena - Colombia </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Iconos Redes Sociales: Mover debajo del copyright -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="d-flex justify-content-center gap-3 social-wrapper">
          <a
            class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center"
            href="https://www.facebook.com/fundacioncarmenmantilla/"
            target="_blank"
            aria-label="Facebook"
            style="width: 50px; height: 50px;"
          >
            <i class="bi bi-facebook"></i>
          </a>
          <a
            class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center"
            href="https://twitter.com/funcarmenm"
            target="_blank"
            aria-label="Twitter"
            style="width: 50px; height: 50px;"
          >
            <i class="bi bi-twitter"></i>
          </a>
          <a
            class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center"
            href="https://www.youtube.com/channel/UC118uHTXtvY_SCSQfVDEPwA"
            target="_blank"
            aria-label="YouTube"
            style="width: 50px; height: 50px;"
          >
            <i class="bi bi-youtube"></i>
          </a>
          <a
            class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center"
            href="https://www.instagram.com/funcarmenmantilla/"
            target="_blank"
            aria-label="Instagram"
            style="width: 50px; height: 50px;"
          >
            <i class="bi bi-instagram"></i>
          </a>
          <a
            class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center"
            href="https://www.tiktok.com/@fundacarmantilla?_t=8mPGJDVoN0f&_r=1"
            target="_blank"
            aria-label="TikTok"
            style="width: 50px; height: 50px;"
          >
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Background del mapa -->
  <div
    class="container-fluid background-footer shadow-lg"
    lc-helper="background"
  ></div>
</section>
